{% extends 'base.html' %}
{% load static %}

{% block title %} Search :: {{ block.super}} {% endblock %}

{% block content %}

<section class="blog-post-area">
    <div class="container">
        <div class="border-top" style="border-top:solid #40c4ff;">
        <div class="row">
            <div class="blog-post-area-style">
                {% for post in posts %}
                <div class="col-md-3">
                    <div class="single-post">
                        {% if post.photo%}
                        <img class="mr-3" src=" {{ post.photo.url }}" alt="{{ post.title }}">
                        {% else%}
                        <img class="mr-3" src="https://picsum.photos/seed/picsum/300/201" alt="{{ post.title }}">
                        {% endif %}
                        <h3><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h3>
                        <h4><span>Posted By: <span class="author-name">{{ post.author }}</span></span>
                        </h4><p>{{post.content|truncatewords_html:22|safe}}</p>
                        <h4><span>{{post.created_at|date:"d.m.Y"}}</span></h4>
                    </div>
                </div>
                {% empty %}
                <p><h5>По вашему запросу ничего не найдено...</h5></p>
                {% endfor %}
            </div>
        </div>
    </div>
</div>


{% include 'inc/_pagination.html' %}

</section>
{% endblock %}
